$primary-color:#55C63E;
$secondary-color: red;
$white: #ffffff;
$black: #000000;
$dark-black: #353535;
$dark: #1c1c1c;
$base-font-size:14px;
$line-height: 1.429;
$assetPath: "../images";
$opensans: 'Open Sans',
sans-serif;
$source-sans-pro:'Source Sans Pro',
sans-serif;
$thin:100;
$extra-light:200;
$light:300;
$regular:400;
$bold:700;
$semi-bold:600;
$medium:500;
$extra-bold:800;